header {
    display: flex;
    justify-content: center;
  }
  
  .search-container {
    width: 100%;
    height: 50px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  
  .landing-page-section {
    width: 1300px;
    height: auto;
    margin: auto;
    border: 1px solid gray;
  
  }
  
  .title-name-box {
    position: relative;
    z-index: 0;
    margin-top: 5px;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: rgb(229, 241, 237);
    color: rgb(1, 22, 22);
    display: flex;
    justify-content: space-around;
    align-items: center;
  
  }
  
  .car-name,
  .country-name,
  .type-name {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .search {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .popup-container {
    width: 20%;
    height: 28%;
    position: absolute;
    z-index: 10;
    top: 30%;
    left: 30%;
    right: 30%;
    bottom: 30%;
    background-color: aliceblue;
    border: none;
  }
  
  .footer {
    margin-top: 10%;
    margin-left: 39%;
  
  }
  
  .modal-body {
  
    text-align: center;
  }
  
  .ownerDetail-name {
    margin: 20px;
  }
  
  .owner-Ceo {
    margin: 20px;
  }
  
  Button {
    background-color: rgb(148, 127, 169);
    padding: 1em;
    color: aliceblue;
  }